
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
 }


:root {
    --bck-color: rgb(96, 145, 135);  
    --txt-color1: rgb(51, 51, 51);
    --sidebar-bck-color: white;
    --icon-color: green;
    --bck1-color:  rgb(80, 80, 231);
 }

 /*sidebar*/

html {
  scroll-behavior: smooth;
}
 
 

/*
.layout {
    display: flex;
}
*/




.sidebar {
    position: fixed;
    top: 0;           
    left: 0; 
    height: 100vh;
    width: 13%;
    min-width: 185px; /* hindi bababa dito kahit lumiit ang screen */
    background-color: var(--sidebar-bck-color);
    overflow: hidden; /* para pag hinover ko walang lumalabas sa sidebar */
    z-index: 999;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}



.sidebar .logo {
    background-color: rgb(250, 250, 250);
    min-height: 90px;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-top: 15px;
    margin-bottom: 12px;
}

.sidebar li {
    padding-top: 5px;
    padding-left: 10px;
}

.sidebar a {
    padding-top: 9px;
    padding-bottom: 9px;
}

.sidebar img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    /*border-color: rgba(0, 77, 64, 0.4);*/
    border-color: rgb(80, 80, 231);
    margin-top: 13px; 
    margin-bottom: 11px;
}



.sidebar li {
    margin-bottom: 30px;
    list-style-type: none;
}


.sidebar li:not(.logo):hover {
    transform: translateX(0.5px);
    border-left: 3px solid rgb(80, 80, 231);
    background-color: rgb(250, 250, 250);
}

.sidebar .fa-solid {
    font-size: 25px;
    color: rgb(80, 80, 231);;
    padding-right: 12px;
}

.sidebar a {
    text-decoration: none;
    color: var(--txt-color1);
    font-size: 14.5px;
    font-weight: 300;
}


/* section1 */
.wrap {
    display: block;
}

.section1 {
    height: 100vh;
    background-color: var(--bck1-color);
    width: 100%;
    min-width: 200px;
    overflow: hidden;
}

.section1 h2 {
    margin-top: 100px;
    margin-left: 320px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 51.62px;
    font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}


.section1 p {
    color: #FFFFFF;
    margin-left: 320px;
    font-size: 23.78px;
    font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


.section1 .typewriter {
    overflow: hidden;              /* para matago yung text habang nagta-tyype */
    border-right: .15em solid #FFFFFF; 
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 4s steps(20, end) infinite,
               blink-caret .75s step-end infinite;
}

  /* Animation ng pag-typeee */
@keyframes typing {
    0% { width: 0 }
    50% { width: 39% }
    100% { width: 0 }
}

  /* Animation ng cursor */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FFFFFF; }
}


.section1 .social {
    margin-left: 320px;
}

.section1 .icon-btn {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-width: 0px;
    border-radius: 45px;
    cursor: pointer;
    background-color: #F0F0F0;
    margin-left: 6px;
}

.section1 i {
  color: black;
  font-size: 30px;
  transition: color 0.2s ease;
}

.section1 .icon-btn:hover {
  background-color: black;
}

.section1 i:hover {
  color: white !important;
}

.section1 .fa-github{
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
}

.section1 .fa-facebook {
   text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px; 
}

.section1 .extralang {
    margin-left: 320px;
    margin-top: 7px;
}

.section1 .extralang .resume{
    padding: 11px 35px;
    background: #fff;
    color: #00796b;
    border: 2px solid #fff;
    font-weight: 300;
    font-size: 14px;
    border-radius: 5px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.section1 .extralang .contactme {
    padding: 11px 35px;
    background: #fff;
    color: #00796b;
    border: 2px solid #fff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 1.5em;
    border-radius: 5px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.section1 .extralang .resume:hover {
    color: white;
    background-color: #00796b;
    border: 2px solid #00796b;
}

.section1 .extralang .contactme:hover {
    color: white;
    background-color: #00796b;
    border: 2px solid #00796b;
}

.section1 .extralang a {
    text-decoration: none;
}

/* section2 */

.section2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(236, 236, 236);
    overflow: hidden;
}

.section2 .page-title {
    padding-left: 320px;
    background-color: blue;
    font-size: 2.92rem;
    font-weight: 200;
    color: white;
    padding-top: 26px;
    padding-bottom: 26px;
}

.section2 .flow-text {
    padding-top: 65px;
    padding-left: 320px;
    font-size: 24.36px;
    font-weight: 300;
    
}

/* section3 */

.section3 {
    height: 118vh;
    width: 100%;
    background-color: rgb(236, 236, 236);
    /*overflow: hidden;*/
}

.section3 .page-title {
    padding-left: 320px;
    background-color: blue;
    font-size: 2.92rem;
    font-weight: 200;
    color: white;
    padding-top: 26px;
    padding-bottom: 26px;
}

.section3 .containers {
    margin-left: 320px;
    margin-top: 50px;
    background-color: white;
    height: 327.688px;
    width: 689.075px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 2px;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.section3 .h3 {
    border-bottom: 1px solid rgb(237, 237, 237);
    color: rgb(140, 113, 103);
    font-size: 24px;
    font-weight: 300;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 4px;
}

.section3 .hey{
    display: flex;
    margin-top: 9px;
}

.section3 img {
    padding-right: 20px;
}

/*section4*/
.section4 {
    height: 120vh;
    width: 100%;
    background-color: rgb(236, 236, 236);
    overflow: hidden;
    padding-top: 14px;
}

.section4 h3 {
    padding-left: 320px;
    background-color: blue;
    font-size: 2.92rem;
    font-weight: 200;
    color: white;
    padding-top: 26px;
    padding-bottom: 26px;
}

.section4 div {
    margin-left: 320px;
    margin-top: 50px;
    background-color: white;
    height: 327.688px;
    width: 689.075px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.section4 .h2{
    font-size: 24px;
    font-weight: 300;
    color: rgb(140, 113, 103);
    padding-top: 9px;
}


.section4 .p {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid rgb(237, 237, 237);
    font-size: 21px;
}

.section4 p {
    padding-top: 7px;
    padding-bottom: 5px;
    font-size: 21px;
}

/* section5 */

.section5 {
    height: 100vh;
    width: 100%;
    background-color: rgb(236, 236, 236);
    overflow: hidden;
}

.section5 h3 {
    padding-left: 320px;
    background-color: blue;
    font-size: 2.92rem;
    font-weight: 200;
    color: white;
    padding-top: 26px;
    padding-bottom: 26px;
}

.section5 div {
     padding-left: 320px;
     display: block;
     padding-top: 45px;
}

.section5 .p {
    margin-bottom: 40px;
    font-size: 29px;
}

.section5 i {
    margin-right: 11px;
    position: relative;
    top: auto;
    font-size: 2rem;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.section5 a {
    text-decoration: none;
    color: black;
}

.section5 a:hover {
    border-bottom: 2px solid black;
}